.cbp-fwslider {
	position: relative;
	margin: 0 0 10px;
	overflow: hidden;
	padding: 40px 0 60px;
}

.cbp-fwslider ul {
	margin: 0;
	padding: 0;
	white-space: nowrap;
	list-style-type: none;
}

.cbp-fwslider ul li {
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	transform: translateZ(0);
	display: block;
	float: left;
	margin: 0;
	padding: 0;
}

.cbp-fwslider ul li > a,
.cbp-fwslider ul li.sliderli > div { /*Cori added the .demo*/
	display: block;
	text-align: center;
	outline: none;
}





.cbp-fwslider ul li > a img {
	border: none;
	/*display: block;*/
	margin: 0 auto;
/*	max-width: 10%; */
width: 10%;
}

.cbp-fwslider nav span {
	position: absolute;
	top: 40%;
	width: 50px;
	height: 100px;
	background: #F79A6F;
	color: #fff;
	font-size: 50px;
	text-align: center;
	margin-top: -50px;
	line-height: 100px;
	cursor: pointer;
	font-weight: normal;
}

.cbp-fwslider nav span:hover {
	background: #c17a5f;
}

.cbp-fwslider nav span.cbp-fwnext {
	right: 0px;
}

.cbp-fwslider nav span.cbp-fwprev {
	left: 0px;
}

.cbp-fwdots {
	position: absolute;
	bottom: 0px;
	white-space: nowrap;
	text-align: center;
	width: 100%;
}

.cbp-fwdots span {
	display: inline-block;      /*This is the color of the cirles at the bottom */
	width: 18px;
	height: 18px;
	background: #c17a5f  ; /*#ddd; */
	margin: 4px;
	border-radius: 50%;
	cursor: pointer;
}

.cbp-fwdots span:hover {
	background: #999;
}

.cbp-fwdots span.cbp-fwcurrent {
	background: #F79A6F;
	box-shadow: 0 0 0 2px #F79A6F;
	-webkit-transition: box-shadow 0.2s ease-in-out;
	-moz-transition: box-shadow 0.2s ease-in-out;
	transition: box-shadow 0.2s ease-in-out;
}

/* What I added to the CSS */
.timeline{
	width: 100%;
	display: block;
	margin: 0 auto;
}
#time {
	margin: 0 auto;
	width: 100%;
}


h3 {
	color: #F79A6F;
}

/* unvisited link */
a:link {
    color: #F79A6F;
}

/* visited link */
a:visited {
    color: #999;
}

/* mouse over link */
a:hover {
    color: #c17a5f;
}


@media (max-width: 40em) {
.timeline {
display: none;
}
}

.text {
/*	text-align: center;  */
	width: 50%;
}
.ch_element, .ch_wrapper {
  /*  width: 650px;
    height: 612px;
    position: relative;
    overflow: hidden; */
    margin: 0 auto !important;

}

.img {
	width:80%;
}

h2, h3.slide {
	text-align: center;
}


.content_text {
	width: 510px;
	 height: 480px;
	 position: absolute;
	 z-index: 3; opacity: 0.8;
	 left: 0px; top: 0px;
	white-space: normal;
	padding: 10px;
	font-size: 1.5em;
	text-align: left;

}

/* @media screen and (min-width: 0px) and (max-width: 400px) {
  .mobileonly { display: block; }  /* show it on small screens */
}

/*@media screen and (min-width: 401px) and (max-width: 1024px) {
  .mobileonly { display: none; }   /* hide it elsewhere */
}
@media (max-width: 40em) {
.timeline {
display: none; }
}


@media (max-width: 40em) {
.layover {
display: none; }
}


 @media  (max-width: 40em) {
  .mobileonly { display: block; }  /* show it on small screens */
}

@media   (min-width: 40em)  {
  .mobileonly { display: none; }   /* hide it elsewhere */
}

.mobileonly {
	white-space: normal;
	padding: 10px;
	margin: 0 auto
}

.mobileonly > h2 {
	font-size: 150%;
}

.longplay {
	margin: 0 auto;
	text-align: center;
}
